html,body{
    height: 100%;
    width: 100%;

}

.box{
    width: 300px;
    height: 250px;
    background-image: url(coco\ cola.jpg);
    background-repeat: no-repeat;
    border: 1px solid black;
    padding: 10px;
    animation-name: demo;
    animation-duration: 15s;
    
    
}
@keyframes demo {
    from{
        background-color: red;
    }

    to{
        background-color: blue;
    }
    
}

a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px;
    background-color: lightblue;
}

/*visited link*/
a:visited{

}

a:active{

    background-color: brown;
}

a:hover{
    padding: 15px;
    background-color: black;
    color: white;
}

